{% extends 'base.html' %} {% load bootstrap_tags %} {% load humanize %} {% block page_title %}Auction{% endblock %} {% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login200 p-l-25 p-r-25 p-t-55 p-b-55">
            <div class="expiry-date text-center" id="expiry-date"></div>
            {% if product.expired == False  and  current_bid.bid > product.price %}
            <div id = "price-expired" class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                The Bid Price is currently higher than the asking price if you're still interested in the product you can Bid down below !!!
            </div>
            {% endif %}
            {% if product.expired == True  and  user.username|lower == current_bid.user|lower%}
            <div id = "winning-bid-alert" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                Congratulations you've WON the auction for the item {{product.name}} , proceed to checkout by clicking the Add to Card Button down below !!!
            </div>
            {% endif %}
            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1 text-center" style="line-height: 1.25;">
                {{product.name}}
            </h2>
            <img src="{{ MEDIA_URL }}{{product.main_image}}" alt="Auction Product Image" height = "100%" width="100%" style="border-radius: 5px;">
            {% if product.expired == True %}
            <div class="alert-bids alert-danger text-center" role="alert" id = "current-bid" >
                <p id = "inner-current-bid" class="txt3 current-bid">The Auction for the product {{product.name}} was WON by | {{current_bid.user|title}} </p>
            </div>
            {% else %}
            <div class="alert-bids alert-danger text-center" role="alert" id = "current-bid" >
                <p id = "inner-current-bid" class="txt3 current-bid">The Bid is currently at {{current_bid.bid|intcomma}} £</p>
            </div>
            <div class="alert-bids alert-success text-center" role="alert" id = "current-bid" >
                <p id = "inner-current-bid" class="txt3 current-bid">The current bid was submited by |  {{current_bid.user|capfirst}} </p>
            </div>
            {% endif %}
                {% if product.expired == False %}
                <form id = "place-bid" action="{% url 'bid_view' product.id%}" method="POST" >
                    {% csrf_token %}
                    {{bid_form|as_bootstrap}}
                    <button type="submit" class="login100-form-btn">Submit Bid</button>
                </form>
                {% endif %}
        {% if product.expired == True  and  user.username|lower == current_bid.user|lower%}
        <form method="POST" action="{% url 'add_to_cart_bid' product.id  %}">
            {% csrf_token %}
            <div id = "bid-winning-purchase">
                <button type="submit"  class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Add To Cart</button>
            </div>
            <input name='quantity' type="hidden" value="1">
        </form>
        {% endif %}
        {% if product.expired == False  and  current_bid.bid < product.price %}
        <form method="POST" action="{% url 'add_to_cart' product.id  %}">
            {% csrf_token %}
            <div id = "buy-button-wrapper">
            <button type="submit" id = "purchase-button"  class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Buy for {{product.price|intcomma }} £</button>
            </div>
            <input name='quantity' type="hidden" value="1">
        </form>
        {% endif %}
        <script>
            $(document).ready(function () {
                var countDownDate = new Date("{{product.date_created|truncatechars:30 }}").getTime();
                var expiryDate = document.getElementById("expiry-date")
                var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    expiryDate.innerHTML = "Bid Expires In: " + days + "d " + hours + "h " +
                        minutes + "m " + seconds + "s ";
                    if (distance < 0) {
                        clearInterval(x);
                        expiryDate.innerHTML = "BID EXPIRED !!!";
                        expiryDate.style.color = "crimson";
                        expiryDateText = expiryDate.textContent
                        $.ajax({
                            type:"POST",
                            url: "{% url 'bid_view' product.id %}",
                            data:{'expiryDateText':expiryDateText,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',},
                            success: function(result) {
                                window.console.log('Successful');
                            }
                            })
                            if(location.search.indexOf('r') < 0){
                                var hash = window.location.hash;
                                var loc = window.location.href.replace(hash, '');
                                loc += (loc.indexOf('?') < 0? '?' : '&') + 'r';
                                setTimeout(function(){window.location.href = loc + hash;}, 1000);
                            }
                        }
                    else if (!days){
                        expiryDate.innerHTML = "Bid Expires In: " + hours + "h " +
                        minutes + "m " + seconds + "s ";
                        if (!days && !hours){
                            expiryDate.innerHTML = "Bid Expires In: " + minutes + "m " + seconds + "s ";
                            expiryDate.style.color = "crimson";
                        }
                    }
                });
                
            });
        </script>
             
        <button type="button" class="btn btn-info font-weight-medium lts-2px  mb-2 text-center" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Info
        </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">How to place a bid</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            To place a bid see down below the input box,<span class="note">Note!</span> The bid must be greater than the current one.
                            You can see the current Bid price in the Red box, in the Green box you can see who placed the last bid.
                            <hr>
                            <span class="note">Note!</span> You can purchase the product for the asking price although if the bid price
                            is higher than the asking price you won't be able to purchase the product for the asking price anymore but you can still bid a higher price.
                            <hr>
                            <span class="note">Note!</span> The auction has a countdown timer, if you are the winner of the product visit the products page then You
                            going to be prompted with a green box message saying you WON the bid if that's the case, next up all you have to do
                            is click on the ADD TO CART button and you can happily claim your product.
                            <hr>
                            Thanks for using Treasure Hunt !!!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}