{% extends 'base.html' %} {% load bootstrap_tags %} {% load humanize %} {% block page_title %}Auction{% endblock %} {% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login200 p-l-25 p-r-25 p-t-55 p-b-55">
            <div id = "current-user" style="display: none;">{{user.username}}</div>
            <div class="expiry-date text-center" id="expiry-date"></div>
            <div id = "date_created" style="display: none;">{{product.date_created|truncatechars:30 }}</div>
            <div id = "price-expired" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                The Bid Price is currently higher than the asking price if you're still interested in the product you can Bid down below !!!
            </div>
            <div id = "winning-bid-alert" class="alert alert-success alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                Congratulations you've WON the auction for the item {{product.name}} , proceed to checkout by clicking the Add to Card Button down below !!!
            </div>
            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1 text-center" style="line-height: 1.25;">
                {{product.name}}
            </h2>
            <img src="{{ MEDIA_URL }}{{product.main_image}}" alt="Auction Product Image" height = "100%" width="100%" style="border-radius: 5px;">
            {% for item in bids.bids.all %}
                {% if forloop.last %}
                <div class="alert-bids alert-danger text-center" role="alert" id = "current-bid" >
                    <p id = "inner-current-bid" class="txt3 current-bid">The Bid is currently at {{item.bid|intcomma}} £</p>
                </div>
                {% if not item.user.is_superuser %}
                <div class="alert-bids alert-success text-center" role="alert" >
                <p id = "winning-user" class = "txt3 current-bid">The last bid was placed by user | {{item.user}}</p>
                </div>
                {% endif %}
                <div id = "last-user" style="display: none;">{{item.user}}</div>
                <form id = "place-bid" action="{% url 'bid_view' product.id%}" method="POST" >
                    {% csrf_token %}
                    {{bid_form|as_bootstrap}}
                    <button type="submit" class="login100-form-btn">Submit Bid</button>
                    <div id = "product-price" style="display: none;">{{product.price}}</div>
                    <div id = "current-price" style="display: none;">{{item.bid}}</div>
            </form>
        {% endif %} 
        {% endfor %}
        <form method="POST" action="{% url 'add_to_cart' product.id  %}">
            {% csrf_token %}
            <input type="hidden" name = "winning-bid" value="{{item.bid}}">
            <div id = "buy-button-wrapper">
            <button type="submit" id = "purchase-button"  class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Buy for {{product.price|intcomma }} £</button>
            </div>
            <input name='quantity' type="hidden" value="1">
        </form>
        <form method="POST" action="{% url 'add_to_cart_bid' product.id  %}">
            {% csrf_token %}
            <input type="hidden" name = "winning-bid" value="{{item.bid}}">
            <div id = "bid-winning-purchase" style="display: none;">
                <button type="submit"  class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Add To Cart</button>
            </div>
            <input name='quantity' type="hidden" value="1">
        </form>     
        <button type="button" class="btn btn-info font-weight-medium lts-2px  mb-2 text-center" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Info
        </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">How to place a bid</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            To place a bid see down below the input box,<span class="note">Note!</span> The bid must be greater than the current one.
                            You can see the current Bid price in the Red box, in the Green box you can see who placed the last bid.
                            <hr>
                            <span class="note">Note!</span> You can purchase the product for the asking price although if the bid price
                            is higher than the asking price you won't be able to purchase the product for the asking price anymore but you can still bid a higher price.
                            <hr>
                            <span class="note">Note!</span> The auction has a countdown timer, if you are the winner of the product visit the products page then You
                            going to be prompted with a green box message saying you WON the bid if that's the case, next up all you have to do
                            is click on the ADD TO CART button and you can happily claim your product.
                            <hr>
                            Thanks for using Treasure Hunt !!!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}