{% extends "base.html" %}
{% block page_title %}Password Reset | Successful{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
      <h1 class="login100-form-title p-b-32 link-1">Reset Your Password</h1>
        <p class="top-buffer">
          Thanks for your password reset request. We have sent and email to your email address, which you should be
          receiving momentarily.
        </p>
        <p>
          While in theory you shouldn't, if you encounter any issues with the resetting process, please contact us using
          the form on the <a href="{% url 'contact' %}" class="default-anchor">contact</a> page and we'll have our worker bees
          rectify the issue for you as fast as possible.
        </p>
    </div>
  </div>
  </div>

{% endblock %}