{% extends "base.html" %}
{% block page_title %}New Password{% endblock %}

{% block content %}

  <section class="container">
    <div class="col-md-9">
      {% if validlink %}
        <h1 class="brand-text-header-black">Reset Your Password</h1>
        <p>Please enter your new password:</p>
        <form action="" method="POST">
          <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
          </div>
          <table>
            <tr>
              <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label></td>
              <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
              <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
              </td>
              <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Change my password" /></td>
            </tr>
          </table>
        </form>
      {% else %}
        <h1 class="brand-text-header-black">Password Reset Unsuccessful</h1>
        <p>
          The password reset link was invalid. The most common reason for this is that it may have already
          been used. Please request a new password reset link.
        </p>
        <p>
          Should the issue persist, please contact us using the <a href="{% url 'contact' %}">contact</a> form and
          we'll have the issue sorted for you as quickly as we can.
        </p>
        <p>Please accept our apologies for this and know that our developers will be whipped vehemently.</p>
      {% endif %}
    </div>
  </section>

{% endblock %}