{% autoescape off %}
  You're receiving this e-mail because you requested to reset your password for your account at {{ site_name }}.

  Please go to the following page and choose a new password:
  {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  {% endblock %}

  Your username: {{ user.username }}

  If you have received this email in error, please discard it and know that our developers will be whipped vehemently.

  The {{ site_name }} team.

{% endautoescape %}