{% extends "base.html" %}
{% block page_title %}Password Reset{% endblock %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
      <h4 class="login100-form-title p-b-32 link-1">Reset Your Password</h4>

      <form method="POST" class="top-buffer">
        <p>Please provide your email address so we can send you the link to reset your password.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p>
          <label for="id_email" class="control-label required-field">E-mail address:</label>
          {{ form.email }} <input type="submit" value="Reset password" class="login100-form-btn" />
        </p>
      </form>
    </div>
    </div>
    </div>
    

{% endblock %}