{% extends 'base.html' %} {% load humanize %}{% block page_title %}Products{% endblock %} {% block content %}
<!-- Header -->
<div class="masthead">
    <div class="container">
    </div>
</div>
<div class="container " id="product-cards">
    {% for product in products %}
    <div class="card bg-white shadow-1 green-hover ">
        <img src="{{ MEDIA_URL }}{{ product.main_image }}" alt="Product Image" class="d-block w-full product-image">
        <div class="px-2 py-2">
            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                {{product.name}}
                </h1>
                <p class="mb-1">
                    {{product.description}} &hellip;
                </p>
        </div>
        <div class="product-links">
            <a href="{% url 'product_details' product.id %}" class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-info-circle" aria-hidden="true"></i>See Product Details</a>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                <button type="submit" class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Buy for {{product.price|intcomma }} £</button>
                <input name='quantity' type="hidden" value="1">
            </form>
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark" data-toggle="modal" data-target="#exampleModalCenter" id = "bid-button{{product.id}}"><i class="fa fa-handshake-o" aria-hidden="true"></i>Bid {{product.bid_price|intcomma }}£ </a>
            <div class="expiry-date " id="expiry-date{{product.id}}"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
        var countDownDate{{product.id}} = new Date('{{product.date_created|truncatechars:20}}').getTime();
        var expiryDate = document.getElementById("expiry-date{{product.id}}")
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate{{product.id}} - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            expiryDate.innerHTML = "Bid Expires In: " + days + "d " + hours + "h " +
                minutes + "m " + seconds + "s ";
            if (distance < 0) {
                clearInterval(x);
                expiryDate.innerHTML = "BID EXPIRED !!!";
                document.getElementById("bid-button{{product.id}}").disabled = true;
                expiryDate.style.color = "crimson";
            }
            else if (!days){
                expiryDate.innerHTML = "Bid Expires In: " + hours + "h " +
                minutes + "m " + seconds + "s ";
                if (!days && !hours){
                    expiryDate.innerHTML = "Bid Expires In: " + minutes + "m " + seconds + "s ";
                    expiryDate.style.color = "crimson";
                }
            }
        }, 1000);
    });
    </script>
    {% endfor %}
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input required class="form-control" placeholder="Enter you max bid" type="number" step="any" min="0" max="223.9">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Submit Bid</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}