{% extends 'base.html' %} {% block content %}

<!-- Header -->
<div class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Website Logo</div>
        </div>
    </div>
</div>
<div class="container ">
    {% for product in products %}
    <div class="card bg-white shadow-1 blue-hover ">
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="Product Image" class="d-block w-full product-image">

        <div class="px-2 py-2">

            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                {{product.name}}
                </h1>

                <p class="mb-1">
                    {{product.description}} &hellip;
                </p>

        </div>
        <div class="product-links">
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">See Product Details</a>
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">Buy for {{product.initial_price}} £</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}