{% extends 'base.html' %} {% load humanize %} {% block content %}

<!-- Header -->
<div class="masthead">
    <div class="container">
    </div>
</div>
<div class="container " id="product-cards">
    {% for product in products %}
    <div class="card bg-white shadow-1 blue-hover ">
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="Product Image" class="d-block w-full product-image">

        <div class="px-2 py-2">

            <h2 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                {{product.name}}
                </h1>

                <p class="mb-1">
                    {{product.description}} &hellip;
                </p>

        </div>
        <div class="product-links">
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">See Product Details</a>
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">Buy for {{product.price|intcomma }} £</a>
            <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link" data-toggle="modal" data-target="#exampleModalCenter">Bid {{product.bid_price|intcomma }} £</a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% for product in products %}
                <h5 class="modal-title" id="exampleModalCenterTitle">{{product.name}}</h5>
                {%endfor%}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input required class="form-control" placeholder="Enter you max bid" type="number" step="any" min="0" max="223.9">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Submit Bid</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}