{% extends 'base.html' %} {% load humanize %}{% block page_title %}{{product.name}}{% endblock %}

{% block content %}
<div class="product-masthead" style="background-image: url('{{ MEDIA_URL }}{{product.main_image }}');">
    <div class="container">
    </div>
</div>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-product p-l-85 p-r-85 p-t-55 p-b-55 product-details-wrap">
            <h1 class="text-center login100-form-title product-title link-1">
                {{product.name}}
            </h1>
            
            <hr>
            <!-- Page Content -->
            <h3 class="text-center product-headders link-1"><i class="fa fa-picture-o" aria-hidden="true"></i>Images</h3>
            <div class="container page-top">
                <div class="row">
                    {% for item in product.images.all %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a href="{{ MEDIA_URL }}{{item.image}}" class="fancybox" rel="ligthbox">
                            <img  src="{{ MEDIA_URL }}{{item.image}}" class="zoom img-fluid "  alt="Product Images">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <h3 class="text-center product-headders link-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Description</h3>
            <div class="product-details-description">
                <div>
                    {{product.description}}
                </div>
                <hr>
                <h3 class="text-center product-headders link-1"><i class="fa fa-info" aria-hidden="true"></i>Details</h3>
                <p>Author: <span class="details">{{product.author}}</span></p>
                <p>Date: <span class="details">{{product.date_made}}</span></p>
                <p>Made in: <span class="details">{{product.country_made_in}}</span></p>
                <p>Height: <span class="details">{{product.height}} cm </span></p>
                <p>Width: <span class="details">{{product.width}} cm</span></p>
                <p>Previosly owned by: <span class="details">{{product.past_owners}}</span></p>
                {% if product.views > 1 %}
                <p class="views" >Viewed by: <span class="details">{{product.views}} People</span></p>
                {% else %}
                <p class="views" >Viewed by: <span class="details">{{product.views}} Person</span></p>
                {% endif %}
            </div>
            <div class="product-links product-details-links">
                <a href="{% url 'index' %}#product-cards" class="text-uppercase d-inline-block font-weight-medium lts-2px  mb-2 text-center bttn-dark"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></i>Products</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}