/*==================Navbar=========*/
::-webkit-scrollbar {
    display: none;
}

.shortcut-icon{
    background: url(../images/browser-icon.png);
}
    
.navbar {
    background-color: #212529 !important;
}

nav a {
    font-size: 15px;
    font-family: Raleway-Medium !important;
    color: #fafafa;
}

.logo {
    width: 13rem;
    height: 2.3rem;
}

nav li a i {
    margin-right: 5px;
}

.sort-by {
    margin-right: 10px;
}

.link-1{
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.75;
    color: #b2b0a9;
}


.link-1 a:before, .link-1 a:after {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    width: 0;
  }
  
  .link-1 a:before { left: 0; }
  .link-1 a:after { right: 0; }
  
  .link-1 a:hover:before, .link-1 a:hover:after {
    width: 50%;
  }
  
  .link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }

.btn-success {
    background-color: #1db954 !important;
    border-color: #1db954 !important;
}

.alert-success {
    background-color: #1db954 !important;
    border-color: #1db954 !important;
}

.alert-danger, .error-msg {
    background-color: crimson !important;
    border-color: crimson !important;
}
.btn-success:hover{
    background-color: #191414 !important;
    border-color: #191414 !important;
}

.alert, .error-msg {
    color: whitesmoke !important;
}

.error-msg{
    border-radius: 2px;
    margin: 5px;
}

/*==================Login Form=========*/

.help-block {
    display: none;
}


/*==================Profile Form=========*/



.edit-profile-button:hover{
    color: white !important;
}

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 25px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic  {
    opacity: 0.5;
}

.avatar-wrapper .profile-pic, .profile-image {
    width: 100%;
    transition: all 0.3s ease;
}

.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}


/*==================Shoping Cards=========*/



body::before,
body::after {
    content: "";
    display: table;
    clear: both;
}

body * {
    box-sizing: inherit;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

body,
.text-black {
    color: rgba(0, 0, 0, 0.9);
}

.text-muted {
    color: rgba(0, 0, 0, 0.3);
}

.text-uppercase {
    text-transform: uppercase;
}

.ff-serif {
    font-family: 'Lora', serif;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-medium {
    font-weight: 500;
}

.lts-1px {
    letter-spacing: 1px;
}

.lts-2px {
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}

.bg-white {
    background-color: #fff;
}

.card-heading {
    font-size: 2rem;
}

.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.green-hover {
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}

.green-hover:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid #28a745;
}

.container {
    text-align: center;
}

@media(min-width:768px) {
    .container {
        max-width: 1800px !important;
        
    }
    .card1 {
        width: 25rem;
    }
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1.25rem !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.product-image {
    height: 17rem;
}

.card1 {
    text-align: center;
    margin: 10px;
    height: 45rem;
    overflow: hidden;
    border-radius: 7px !important;
    display: inline-block !important;
}

.product-links {
    display: inline-grid;
}

a.bttn-dark {
    color: #212529;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}
a.bttn-dark:hover {
    color: #28a745;
}
a.bttn-dark:focus {
    color: #fff;
}

button.bttn-dark:hover {
    color: #28a745;
}

.bttn-dark {
    margin: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 19rem;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid #212529;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.bttn-dark:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #212529;
    z-index: -1;
}
.bttn-dark:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.bttn-dark:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.fa-info-circle, .fa-credit-card-alt, .fa-handshake-o,.fa-arrow-circle-left  {
    font-size: 15px !important;
    margin: 5px;
}

.fa-info , .fa-pencil-square-o, .fa-picture-o {
    margin: 5px;
    font-size: 20px !important;
    color: #28a745;
}

.fa-long-arrow-left {
    margin: 5px;
    font-size: 21px;
}

.warning-message{
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.warning-title {
    background-color: #FFCC00;
}

/*==================Products View Headder=========*/

.masthead {
    height: 70%;
    background-image: url(../images/products-page-headder.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover
}

.product-masthead {
    height: 70vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size:cover ;
    
}


.alert {
    margin-bottom: 0rem !important;
    margin-top: 63px;
    border-radius: 0px !important
}

.expiry-date{
    color: black;
    letter-spacing: 2px;
    opacity: 0.9;
    font-weight: 600;
    margin-top: 10px;
}


/*==================Bid=========*/

.bid-alert {
    margin-top: 5px;
}

/*==================Product Details=========*/
@media(min-width:1400px){
.product-details-wrap{
    width: 1600px !important;
}  
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:2px;
    object-fit:cover;
    background: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {
    border-bottom: none;
}
.product-details-description{
    padding: 15px;
}

.product-details-links{
    display: flex;
}

.details{
    font-weight: bold;
}

.product-headders{
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    display: block;
}

@media(min-width:824px){
.views{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
}
/*==================Cart=========*/

.cart-image{
    height: 50px;
    width: 70px;
}

/*==================Edit Profile=========*/
.control-label{
    margin-bottom:10px !important;
}

#id_description {
    height: 150px;
}

.edit-profile-headder{
    margin-bottom: 40px;
}

/*==================Checkout=========*/
.bottom-buffer {
    margin-bottom: 40px !important;
}

.checkout-details{
    font-weight: bold;
    color: #555555;
    
}

.credit-card-errors{
    display: none;
    color: #555555;
    padding: 10px;
}

/*==================Contact Us=========*/

@media (min-width: 1366px){
    .pr-350{
        padding-right: 350px !important;
    }
    .pl-350{
        padding-left: 350px !important;
    }
}

/*==================Footer=========*/
  .contact-section {
    padding: 5rem 0 0;
  }

  @media(min-width:1366px){
    .contact-section {
        padding: 5rem 6rem;
      }
  }
  
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #1db954;
  }
  
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  
  .contact-section .card hr {
    border-color: #1db954;
    border-width: 0.25rem;
    width: 3rem;
    margin: auto;
  }
  
  .contact-section .social {
    margin-top: 3rem;
    padding-bottom: 10px;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .contact-section .social a:active {
    color: #fff;
  }
  
  .bg-black {
    background-color: #212529 !important;
  }
  footer {
    padding: 10px 0 2rem;
    
  }

  .text-white-50 {
    color:rgba(255,255,255,.5)!important;
  }

  .footer-icons {
      color:#1db954;
      font-size: 1.5rem !important;
  }

  .payment-icons{
      margin: 17px;
  }

/*====================Loader=======*/
  .loader3 {
    width:100px;
    height:100px;
    display:inline-block;
    padding:0px;
    text-align:left;
 }
 .loader3 span {
    position:absolute;
    display:inline-block;
    width:100px;
    height:100px;
    border-radius:100%;
    background:rgba(135, 211, 124,1);
    -webkit-animation:loader3 1.5s linear infinite;
    animation:loader3 1.5s linear infinite;
 }
 .loader3 span:last-child {
    animation-delay:-0.9s;
    -webkit-animation-delay:-0.9s;
 }
 @keyframes loader3 {
    0% {transform: scale(0, 0);opacity:0.8;}
    100% {transform: scale(1, 1);opacity:0;}
 }
 @-webkit-keyframes loader3 {
    0% {-webkit-transform: scale(0, 0);opacity:0.8;}
    100% {-webkit-transform: scale(1, 1);opacity:0;}
 }

 .loading-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;
 }

 .loading-text{
     font-family: Raleway-Medium;
     font-size: 25px;
     line-height: 1.2;
     text-transform: uppercase;
     width: 100%;
     display: block;
     margin-left: 10px;
     color: mediumseagreen;
     font-weight: 600;
     
 }


  