{% extends "base.html" %} {% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <h2 class="text-center login100-form-title">Profile</h2>
                <br>
                <p class="txt3 text-center">You are logged in as {{ user.email }} </p>
                <br>
                <p class="txt3 text-center">Username: {{user.username}}</p>
                <br>
                <p class="text-center txt3">Upload Profile Photo <i class="fa fa-arrow-circle-down"></i></p>

                <div class="avatar-wrapper">
                    <img class="profile-pic" src="" />
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input class="file-upload" type="file" accept="image/*" />
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}